.experiencia{
    max-width: 1200px;
    min-width:300px;
    display: grid;
    gap: 100px;
    grid-template-columns: 1fr 2fr;
    margin:0 auto;
    padding: 40px 20px;

}
.experiencia-2{
    display: grid;
    grid-column: 2;
    gap: 40px;
}
.subtitulo{
    font-style: normal;
    font-weight: 700;
    font-size: 150px;
    line-height: 150px;
    color: #EBEBEB;
    text-transform: uppercase;
    word-break: break-all;
    max-width: 4ch;
}
.exp-principal{
    display: grid;
    gap: 40px;
}
.experiencia-texto{
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #504C4C;
    padding-bottom: 30px;
}
.exp1{
    position: relative;
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 0 20px;
    background: #EBEBEB;
    padding: 10px 20px;
    border-radius: 5px;
}
.ano{
    position:absolute;
    top: 10px;
    left: -50px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #504C4C;
}
.detalhe{
    position: absolute;
    width: 43px;
    height: 10px;
    background: #02B5C0;
    top:35px;
    left:-30px;
}

.exp1 h3{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 60px;
    color: #000000;

}
.desenvolvedor{
    font-family: "Fira Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 60px;
    color: #000000;
    padding-left: 120px;

}
.exp1 p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.habilidades{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.habilidades1{
    width: 60px;
    height: 30px;
    background: #A09C9C;
    border-radius: 5px;
    text-align: center;
    padding-top: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #282424;
   
}
.habilidades2{
    width: 90px;
    height: 30px;
    background: #A09C9C;
    border-radius: 5px;
    text-align: center;
    padding-top: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #282424;
}
.habilidades3{
    width: 90px;
    height: 30px;
    background: #A09C9C;
    border-radius: 5px;
    text-align: center;
    padding-top: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #282424;
}
@media (max-width:800px){
    .experiencia{
        grid-template-columns: 1fr;
        gap:40px;
    }
    .subtitulo{
        font-size: 40px;
        word-break:normal;
        max-width:initial;
        color:#282424 ;
    }
    .experiencia-texto{
        font-size:20px ;
    }
    .exp1{
        font-size: 10px;
    }
    .ano{
        position: initial;
        order: 1;
    }
    .desenvolvedor{
        text-align: center;
        padding-left: 50px;
    }
}
@media (max-width:400px){
    .exp1{
        grid-template-columns: 1fr;
    }
    .desenvolvedor{
        padding-left: 0px;
    }
}